<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/main :: layout(~{::body})">

<body>

<section class="grid grid-cols-1 md:grid-cols-3 gap-6">

    <div class="card bg-base-100 shadow">
        <div class="card-body">
            <h2 class="card-title">Ventas</h2>
            <p>$0</p>
        </div>
    </div>

    <div class="card bg-base-100 shadow">
        <div class="card-body">
            <h2 class="card-title">Productos</h2>
            <p>0</p>
        </div>
    </div>

    <div class="card bg-base-100 shadow">
        <div class="card-body">
            <h2 class="card-title">Usuarios</h2>
            <p>0</p>
        </div>
    </div>

</section>

</body>
</html>
